@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-primary: #ffffff;
  --text-secondary: #00d5e4;
  --background-dark: #2d2d2d;
  --border-dark: #575555;
  font-size: 62.5%;
}

html {
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 0 245px;
}

.header {
  background-color: var(--background-dark);
  border-bottom: 1px solid #575555;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.header_menu a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-primary);
  line-height: 140%;
  transition: 0.6s;
  font-weight: 400;
}

.header_menu a:hover {
  color: var(--text-secondary);
}

.header_menuButton {
  display: none;
  background: none;
  border: none;
}

.main {
  background-color: var(--background-dark);
}

.main_image__hidden {
  display: none;
}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  flex: 5;
}

.main_text h1 {
  color: var(--text-primary);
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 141.5%;
}

.main_text p {
  color: var(--text-primary);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
}

.main_text p strong {
  color: var(--text-secondary);
  font-weight: 900;
}

.main_image {
  flex: 4;
}

.main_image img {
  width: 100%;
}

.main_indicators {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main_indicator {
  display: flex;
  align-items: center;
  max-width: 356px;
}

.main_indicatorImg {
  margin-right: 20px;
  flex: 1;
}

.main_indicator p {
  font-size: 1.8rem;
  flex: 3;
}

@media (max-width: 1700px) {
  .main_text h1 {
    font-size: 3rem;
  }

  .main_text p {
    font-size: 1.6rem;
  }

  .main_indicator p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }

  .header_nav {
    padding: 7px 0;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }

  .header_menu {
    display: none;
  }

  .header_menuButton {
    display: block;
  }

  .main {
    padding: 32px 0;
  }

  .main_text {
    align-items: center;
  }

  .main_image__hidden {
    display: block;
  }

  .main_indicators {
    flex-direction: column;
  }

  .main_indicatorImg {
    flex: 2;
  }

  .main_image {
    display: none;
  }
}
